
/* 메인 분할팝업 v2 추가 */
.pop_main_split.v2 {
    min-width: 250px;
    box-shadow: none;
    /* box-shadow: 3px 3px 18px 0 rgba(0, 0, 0, 0.16); */
    overflow: initial;
}

.pop_main_split.v2 h4 {
    position: relative;
    border: 1px solid #e8340c;
    border-bottom: none 0;
}
.pop_main_split.v2 h4::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #fff;
}
.pop_main_split.v2 h4::after {
    content: '';
    position: absolute;
    top: 100%;
    left: -1px;
    width: 1px;
    height: 30px;
    background-color: #e8340c;
}

.pop_main_split.v2 .btn_split_close {
    top: -10px;
}

.pop_main_split.v2 h4 + .btn_split_close {
    right: 0px;
    top: 44px;
}

.pop_main_split.v2 .bnr_inner {
    overflow: initial;
    border-radius: 0;
    
}

.pop_main_split.v2 .bnr_box {
    border-radius: 29px;
    box-shadow: 3px 3px 18px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border: 1px solid #e8340c;
}

.pop_main_split.v2 .bnr_cont {
    background-color: transparent;
}

.pop_main_split.v2 {width: auto; max-width: 1063px;}
.pop_main_split.v2 .swiper-slide .cts {gap:4px;}
.pop_main_split.v2 .cts a,
.pop_main_split.v2 .cts img {display:block;}
.pop_main_split.v2 .cts .is-single > * {width:1012px; height:305px;}
.pop_main_split.v2 .cts .is-quarter > * {width:250px; height:305px; overflow:hidden;}
.pop_main_split.v2 .cts .is-double {display:flex; flex-direction:column; gap:4px;}
.pop_main_split.v2 .cts .is-double > * {width:250px; height:150px; overflow:hidden;}


.pop_main_split.v2.bottom {
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%;
    min-width: none;
}

.pop_main_split.v2.bottom .bnr_box {
    border-radius: 0;
    border-width: 0;
    border-top-width: 1px;
}

.pop_main_split.v2.bottom h4 {
    margin: 0 auto;
}

.pop_main_split.v2.bottom h4::after {
    display: none;
}

.pop_main_split.v2.bottom .btn_split_close {
    display: none;
}

.pop_main_split.v2.bottom .input_wrap {
    top: 0;
    bottom: auto;
}