
.pop_main_split--v2 .swiper-slide .cts {gap:4px;}
.pop_main_split--v2 .cts a,
.pop_main_split--v2 .cts img {display:block;}
.pop_main_split--v2 .cts .is-single > * {width:1040px; height:305px;}
.pop_main_split--v2 .cts .is-quarter > * {width:250px; height:305px; overflow:hidden;}
.pop_main_split--v2 .cts .is-double {display:flex; flex-direction:column; gap:4px;}
.pop_main_split--v2 .cts .is-double > * {width:250px; height:150px; overflow:hidden;}

.pop_main_split--v2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pop_main_split--v2 .tab {
    position: relative;
    display: flex;
    background: #fff;
    padding: 6px 14px;
    height: 40px;
    border-radius: 6px 6px 0 0;  /* 폴더 탭 모양 */
    box-shadow: 0 -2px 6px rgba(0,0,0,0.08); /* 탭 아래 자연스러운 음영 */
    border:1px solid #D6006D;
    box-sizing: border-box;

    z-index:1;
}
.pop_main_split--v2 .tab::after {
    content: '';
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #fff;
}
.pop_main_split--v2 .content {
    position:relative;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    border-top-left-radius: 0;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15); /* 전체 그림자 */
    border:1px solid #D6006D;
}
.pop_main_split--v2.pst-bottom {
    top: auto;
    bottom: 0;
    left: 0;
    transform: none;
    justify-content: flex-end;
    width: 100%;
    background-color: #fff;
    border-top:1px solid #D6006D;
    padding: 20px 0;
}
.pop_main_split--v2.pst-bottom .tab {
    display: none;
}
.pop_main_split--v2.pst-bottom .content {
    margin: 0 auto;
    box-shadow: none;
    border: 0 none;
}


.pop_main_split--v2 .bnr_inner {width:100%; overflow:hidden; border-radius:0 29px 0 0;}
.pop_main_split--v2 .bnr_cont {position:relative; padding:25px 24px 30px 25px; background:#fff;}
.pop_main_split--v2 .input_wrap {position:absolute; overflow:hidden; bottom:0; right:0; width:205px; padding:0 15px 0 0; display:flex; flex-wrap:wrap; align-items:center; justify-content: space-between;}
.pop_main_split--v2 .formdesign {float:left; padding:6px 0 6px 25px; margin-right:15px;}
.pop_main_split--v2 .formdesign input + label:before {top:9px;width:20px; height:20px;}
.pop_main_split--v2 .formdesign input + label {margin-left:0; color:#666; font-size:14px; }
.pop_main_split--v2 .input_wrap .btn_close {display:block; font-size:14px; color:#666;}
.pop_main_split--v2 .input_wrap .btn_close img {width:14px; height:14px; padding:4px 7px 0; vertical-align:top;}
.pop_main_split--v2 .swiper-button-next {overflow:hidden; right:9px; width:44px; height:44px; margin-top:-36px; background:url('../imgs/global/arrow_right_circle.svg'); color:transparent; text-indent:100%; }
.pop_main_split--v2 .swiper-button-prev {overflow:hidden; left:9px; width:44px; height:44px; margin-top:-36px; background:url('../imgs/global/arrow_left_circle.svg'); color:transparent;text-indent:100%; }
.pop_main_split--v2 .swiper-slide .cts {display:flex; flex-wrap:wrap; width:100%; gap:5px;justify-content:flex-start;}
.pop_main_split--v2 .swiper-slide .cts a {display:block; overflow:hidden; width:200px; height:150px; border-radius:15px; }
.pop_main_split--v2 .swiper-slide .cts a img {width:100%; height:100%; object-fit: cover;}
.pop_main_split--v2 .bnr_paging {display:none; box-sizing:border-box;}
.pop_main_split--v2 .swiper-pagination-bullets .swiper-pagination-bullet {width:10px; height:10px; margin-top:12px; background-color:#cecece}
.pop_main_split--v2 .swiper-pagination-bullets .swiper-pagination-bullet-active {width:28px; height:10px; margin-top:12px; border-radius:6px; background-color:#666; }
.pop_main_split--v2 .btn_split_close {display:block; position:absolute; right:0px; top:44px; width:30px; height:30px; background:#e8340c; border-radius:30px; text-align:center; z-index:10; line-height:30px;}