
/* 메인 분할팝업 v2 추가 */

.pop_main_split.v2 {width: auto; max-width: 1063px;}
.pop_main_split.v2 .swiper-slide .cts {gap:4px;}
.pop_main_split.v2 .cts a,
.pop_main_split.v2 .cts img {display:block;}
.pop_main_split.v2 .cts .is-single > * {width:1012px; height:305px;}
.pop_main_split.v2 .cts .is-quarter > * {width:250px; height:305px; overflow:hidden;}
.pop_main_split.v2 .cts .is-double {display:flex; flex-direction:column; gap:4px;}
.pop_main_split.v2 .cts .is-double > * {width:250px; height:150px; overflow:hidden;}


.pop_main_split.v2.bottom {
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%;
    min-width: none;
}

.pop_main_split.v2.bottom .bnr_box {
    border-radius: 0;
    border-width: 0;
    border-top-width: 1px;
}

.pop_main_split.v2.bottom h4 {
    margin: 0 auto;
}

.pop_main_split.v2.bottom h4::after {
    display: none;
}

.pop_main_split.v2.bottom .btn_split_close {
    display: none;
}

.pop_main_split.v2.bottom .input_wrap {
    top: 0;
    bottom: auto;
}


/* v2 메인 하단팝업 리뉴얼 
#pop_main_bnr {display:none; width:100vw; margin:0 auto;}
#pop_main_bnr.open {display:block;}
#pop_main_bnr .bnr_inner {width:100%; z-index:101;}
#pop_main_bnr .bnr_bg {position:fixed; justify-content:center; align-items:center; bottom:0; left:0; z-index:10000001; width:100%; height:100%; background-color: rgba(0, 0, 0, 0.55);}
#pop_main_bnr .bnr_box {position:absolute; bottom:-240px; left:50%; margin-left:-550px; z-index:101; width:100%; max-width:1100px; background-color:transparent; transition:all 1s ease;}
#pop_main_bnr .bnr_cont {position:relative; width:100%; height:225px; text-align:center; overflow:hidden; border-radius:29px 29px 0 0; isolation:isolate; background:#fff;}
#pop_main_bnr .bnr_noti {position:relative; width:100%; height:30px; padding:10px; overflow:hidden; box-sizing:border-box;}
#pop_main_bnr .input_wrap {position:absolute; overflow:hidden; top:0; right:0; padding:0 10px 0 0;}
#pop_main_bnr .formdesign {float:left; padding:3px 0 2px 25px; margin-right:10px;}
#pop_main_bnr .formdesign input + label:before {top:5px;width:20px; height:20px;}
#pop_main_bnr .formdesign input + label {margin-left:0; font-size:15px; color:#fff;}
#pop_main_bnr .input_wrap .btn_close {display:block; float:left; width:15px; height:15px; padding:8px 15px 7px 10px; }
#pop_main_bnr .input_wrap .btn_close img {width:100%;}
#pop_main_bnr .swiper-container {position:static; }
#pop_main_bnr .swiper-pagination-bullets .swiper-pagination-bullet {width:8px; height:8px; background-color:#cecece}
#pop_main_bnr .swiper-pagination-bullets .swiper-pagination-bullet-active {width:22px; height:8px; border-radius:4px; background-color:#fff; }
#pop_main_bnr .bnr_btns {display:none;}
#pop_main_bnr .swiper-button-next {overflow:hidden; right:40px; width:44px; height:44px; background:url('../imgs/global/arrow_right_circle.svg'); color:transparent; text-indent:100%; }
#pop_main_bnr .swiper-button-prev {overflow:hidden; left:40px; width:44px; height:44px; background:url('../imgs/global/arrow_left_circle.svg'); color:transparent;text-indent:100%; }
#pop_main_bnr .ico_ad {position:absolute; top:0; left:0; width:28px; height:16px; line-height:18px; font-size:13px; color:#a4a4a5; background:#fff; border-radius:4px; text-align:center; box-sizing:border-box; opacity:.7} */

#pop_main_bnr.v2 .bnr_box {transition: bottom 1s ease;}


.pop_main_split.v2 .dragPopup,
.rollingPopWrap .dragPopup {position: relative; z-index: 1;}


.popupWrap .popupCont {position: relative; z-index: 1;}
.popupWrap .popupDim {position:fixed; top:0; right:0; bottom:0; left:0; z-index:0; width:100%; height:100%; background-color: rgba(0, 0, 0, 0.55);}
.popupWrap[data-bg="dim"] .popupDim {opacity:1;pointer-events:auto;}
.popupWrap[data-bg="none"] .popupDim {opacity:0;pointer-events:none;overflow: initial;}